.grid-container {
  display: grid;
}

.false{
  display: none;
}

.full{
  display: block;
  width: 80%;
}
.right{
  float: right;
}

.date{
  float: right;
  font-size: 70%;
}
.name{
  float:right;
}
.chat{
  height: 50px;
  padding: 5px 10px;
  background-color: 	#0084ff;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 4px;
  color: white;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.10);
}
.grid-bottom{
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 30px;
  margin-bottom: 5%;
}

Link, li, NavItem{
  color:inherit;
  text-decoration: none;
  list-style: none;
}
.sent{
  color: white;
}
.recieved{
    color: black;
}

.recievedchat{
    color: black;
    background: #F9F2F2;
}

Link:hover, li:hover, ul, li:link, NavItem:hover, ul:hover, Link:link, Link:visted{
  color: white;
  text-decoration: none !important;
  border: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}
